@charset "UTF-8";
body {
  margin: 0;
  font-family: Nunito;
  letter-spacing: 0%;
  transition: all 0.3s ease; }

header {
  width: 320px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    header {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    header {
      width: 1024px; } }

main {
  width: 320px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    main {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    main {
      width: 1024px; } }

footer {
  width: 320px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    footer {
      width: 768px; } }
  @media screen and (min-width: 1024px) {
    footer {
      width: 1024px; } }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

button {
  padding: 0; }

.hidden {
  display: none; }

/* .body-darken {
    filter: blur(2px);
} */
.header {
  display: flex;
  gap: 7px;
  padding-top: 22px;
  padding-bottom: 11px;
  align-items: center;
  justify-content: center;
  background: #ffab08; }
  .header__name {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 120%; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 10px 15px 10px;
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-position: left 0 top -187px;
  background-size: 320px 611px;
  background-color: #F2F2F3; }
  @media screen and (min-width: 768px) {
    .hero {
      flex-direction: row-reverse;
      align-items: normal;
      gap: 10px;
      padding: 11px 103px 15px 103px;
      background-image: url(/images/bg768.png);
      background-position: left 0 top -112px;
      background-size: 768px 378px; } }
  @media screen and (min-width: 1024px) {
    .hero {
      gap: 1px;
      padding: 11px 130px 20px 130px;
      background-image: url(/images/bg1024.png);
      background-position: left 0 top -112px;
      background-size: 1024px 474px; } }
  @media screen and (min-width: 768px) {
    .hero__title-box {
      padding-top: 27px; } }
  @media screen and (min-width: 1024px) {
    .hero__title-box {
      padding-top: 46px; } }
  .hero__title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;
    color: #FFFFFF; }
    @media screen and (min-width: 768px) {
      .hero__title {
        font-size: 36px;
        text-align: start; } }
    @media screen and (min-width: 1024px) {
      .hero__title {
        font-size: 50px; } }
  .hero__title-span {
    color: #FF5C00; }
  .hero__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px; }
    @media screen and (min-width: 768px) {
      .hero__text {
        margin-top: 26px;
        text-align: start; } }
    @media screen and (min-width: 1024px) {
      .hero__text {
        margin-top: 52px;
        font-size: 16px; } }
  .hero__text-span {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF; }
  .hero__img-box {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    padding: 19px 25px 6px 25px;
    width: 227px;
    height: 229px; }
    @media screen and (min-width: 768px) {
      .hero__img-box {
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .hero__img-box {
        width: 326px;
        height: 326px; } }
  .hero__img {
    width: 176.45px;
    height: 203.67px; }
    @media screen and (min-width: 1024px) {
      .hero__img {
        width: 253.41px;
        height: 289.95px; } }

.categories {
  padding: 15px 10px;
  background: #F2F2F3; }
  @media screen and (min-width: 768px) {
    .categories {
      padding: 15px 10px 15px 64px; } }
  @media screen and (min-width: 1024px) {
    .categories {
      padding: 20px 0 25px 32px; } }
  .categories__container {
    display: flex;
    gap: 8px;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .categories__container {
        gap: 12px; } }
    @media screen and (min-width: 1024px) {
      .categories__container {
        gap: 24px; } }
  .categories__menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    background-color: #FFFFFF;
    border-radius: 50px;
    height: 30px;
    transition: all 0.3s ease; }
    @media screen and (min-width: 1024px) {
      .categories__menu {
        padding: 0 14px;
        height: 40px; } }
  .categories__menu:hover {
    transition: all 0.3s ease;
    background-color: #FF7020; }
  .categories__menu-text {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; }

.categories__menu.active {
  background-color: #FFAB08; }

.basket {
  position: relative; }
  @media screen and (min-width: 1024px) {
    .basket {
      padding-top: 75px; } }
  .basket__btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    padding: 16px 10px;
    color: #000000;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%; }
    @media screen and (min-width: 768px) {
      .basket__btn {
        width: 145px; } }
    @media screen and (min-width: 1024px) {
      .basket__btn {
        display: none; } }
  .basket__total {
    padding: 1px 13px;
    border-radius: 6px;
    background: #F2F2F3;
    color: #000000;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px; }

.basket-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  margin: auto;
  padding: 16px 10px;
  background: #FFFFFF;
  border-radius: 12px; }
  @media screen and (min-width: 1024px) {
    .basket-modal {
      display: flex !important;
      visibility: visible !important;
      opacity: 1 !important;
      position: relative;
      box-shadow: none;
      border-radius: 18px;
      padding: 24px 16px;
      border: none; } }
  .basket-modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px; }
    @media screen and (min-width: 1024px) {
      .basket-modal__title {
        padding-bottom: 12px; } }
  .basket-modal__name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%; }
    @media screen and (min-width: 1024px) {
      .basket-modal__name {
        font-size: 24px; } }
  .basket-modal__title-total {
    padding: 1px 13px;
    border-radius: 6px;
    background: #F2F2F3;
    color: #000000;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px; }
    @media screen and (min-width: 1024px) {
      .basket-modal__title-total {
        padding: 2px 16px;
        font-size: 12px; } }
  .basket-modal__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 19px; }
    @media screen and (min-width: 1024px) {
      .basket-modal__total {
        padding-top: 16px;
        padding-bottom: 24px; } }
  .basket-modal__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #f2f2f3;
    border-top: 1px solid #f2f2f3; }
    @media screen and (min-width: 1024px) {
      .basket-modal__item {
        padding: 15px 0; } }
  .basket-modal__burger-preview {
    display: flex;
    gap: 6px; }
  .basket-modal__burger-img {
    border-radius: 8px; }
  .basket-modal__burger-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000; }
  .basket-modal__burger-weight {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 1px;
    margin-bottom: 6px; }
  .basket-modal__burger-cost {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .basket-modal__burger-cost {
        font-size: 16px; } }
  .basket-modal__total-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .basket-modal__total-text {
        font-size: 16px; } }
  .basket-modal__open-delivery-btn {
    cursor: pointer;
    padding: 11px 32px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #FFAB08;
    transition: all 250ms ease-in-out; }
    @media screen and (min-width: 1024px) {
      .basket-modal__open-delivery-btn {
        border-radius: 12px;
        font-size: 16px; } }
  .basket-modal__open-delivery-btn:hover {
    background-color: #FF7020;
    transition: all 250ms ease-in-out; }
  .basket-modal__end {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .basket-modal__end {
        padding-top: 12px; } }
  .basket-modal__end-container {
    display: flex;
    align-items: center;
    gap: 8px; }
  .basket-modal__end-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .basket-modal__end-text {
        font-size: 12px; } }
  .basket-modal__end-close {
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .basket-modal__end-close {
        display: none; } }
  .basket-modal__end-close:hover {
    color: #000000; }

.quantity-controls-basket {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #F2F2F3; }
  @media screen and (min-width: 1024px) {
    .quantity-controls-basket {
      border-radius: 12px; } }

.quantity-controls-basket__btn {
  cursor: pointer;
  padding: 7px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .quantity-controls-basket__btn {
      padding: 9px 12px;
      font-size: 16px;
      border-radius: 12px; } }

.quantity-controls-basket__quantity {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .quantity-controls-basket__quantity {
      font-size: 16px; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Убедитесь, что модальное окно поверх других элементов */
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out; }

.form {
  width: 300px; }

.delivery-modal {
  position: relative;
  width: 320px;
  height: 704px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  /* Модальное окно поверх затемнения */ }
  @media screen and (min-width: 768px) {
    .delivery-modal {
      width: 524px;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .delivery-modal {
      display: flex;
      width: 684px;
      height: auto; } }
  .delivery-modal__img-container {
    display: none; }
    @media screen and (min-width: 1024px) {
      .delivery-modal__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 65px 20px;
        background-color: #FFAB08;
        border-radius: 24px 0 0 24px; } }
  @media screen and (min-width: 1024px) {
    .delivery-modal__img-box {
      padding: 22px 52px; } }
  @media screen and (min-width: 1024px) {
    .delivery-modal__img {
      width: 197px;
      height: 257px; } }
  .delivery-modal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 32px 10px;
    background-color: #FFFFFF; }
    @media screen and (min-width: 768px) {
      .delivery-modal__container {
        padding: 20px 16px 29px 16px;
        border-radius: 24px; } }
    @media screen and (min-width: 1024px) {
      .delivery-modal__container {
        padding: 44px 24px 24px 24px;
        border-radius: 0 24px 24px 0;
        height: auto; } }
  .delivery-modal__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .delivery-modal__title {
        font-size: 24px; } }
  .delivery-modal__input-name {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    margin-top: 18px;
    border: 1px solid #f2f2f3;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 130%;
    background-color: #FFFFFF;
    color: #B1B1B1; }
    @media screen and (min-width: 768px) {
      .delivery-modal__input-name {
        width: auto;
        min-width: 300px;
        font-size: 12px; } }
  .delivery-modal__input-name:focus {
    outline: 1px solid #000;
    color: #000; }
  .delivery-modal__input-tel {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    margin-top: 8px;
    border: 1px solid #f2f2f3;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 130%;
    background-color: #FFFFFF;
    color: #B1B1B1; }
    @media screen and (min-width: 768px) {
      .delivery-modal__input-tel {
        width: auto;
        min-width: 300px;
        font-size: 12px; } }
  .delivery-modal__input-tel:focus {
    outline: 1px solid #000;
    color: #000; }
  .delivery-modal__input2-container {
    display: flex;
    gap: 8px;
    margin-top: 8px; }
    @media screen and (min-width: 768px) {
      .delivery-modal__input2-container {
        margin-bottom: 24px; } }
    @media screen and (min-width: 1024px) {
      .delivery-modal__input2-container {
        margin-bottom: 32px; } }
  .delivery-modal__input-address {
    box-sizing: border-box;
    padding: 12px;
    min-width: 300px;
    border: 1px solid #f2f2f3;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 130%;
    background-color: #FFFFFF;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .delivery-modal__input-address {
        font-size: 12px; } }
  .delivery-modal__input-address:focus {
    outline: 1px solid #000;
    color: #000; }
  .delivery-modal__input-address-num {
    box-sizing: border-box;
    padding: 12px;
    min-width: 143px;
    border: 1px solid #f2f2f3;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 130%;
    background-color: #FFFFFF;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .delivery-modal__input-address-num {
        font-size: 12px; } }
  .delivery-modal__input-address-num:focus {
    outline: 1px solid #000;
    color: #000; }
  .delivery-modal__submit-btn {
    cursor: pointer;
    padding: 11px 32px;
    width: 100%;
    border: 1px solid #FFAB08;
    border-radius: 8px;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #FFAB08;
    transition: all 250ms ease-in-out; }
    @media screen and (min-width: 768px) {
      .delivery-modal__submit-btn {
        width: auto;
        max-width: 300px; } }
    @media screen and (min-width: 1024px) {
      .delivery-modal__submit-btn {
        font-size: 16px;
        border-radius: 12px; } }
  .delivery-modal__submit-btn:hover {
    background-color: #FF7020;
    transition: all 250ms ease-in-out; }
  .delivery-modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px; }
    @media screen and (min-width: 1024px) {
      .delivery-modal__close-btn {
        top: 21px;
        right: 21px; } }
  .delivery-modal__close-icon {
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out; }
  .delivery-modal__close-icon:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.fieldset {
  border: none;
  margin: 0;
  padding: 24px 10px; }
  @media screen and (min-width: 768px) {
    .fieldset {
      padding: 16px 10px; } }
  .fieldset__containers {
    display: flex;
    align-items: center;
    gap: 8px; }
    @media screen and (min-width: 768px) {
      .fieldset__containers {
        gap: 10px; } }
  .fieldset__containers:first-child {
    margin-bottom: 8px; }
  .fieldset__input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .fieldset__input + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
  .fieldset__input + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F3;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; }
  .fieldset__input:not(:disabled):not(:checked) + label:hover::before {
    border-color: #F2F2F3; }
  .fieldset__input:not(:disabled):active + label::before {
    background-color: #FFFFFF;
    border-color: #F2F2F3; }
  .fieldset__input:checked + label::before {
    border-color: #F2F2F3;
    background-image: url(../images/Group-9.svg); }
  .fieldset__label {
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .fieldset__label {
        font-size: 12px; } }

.food {
  position: relative;
  padding: 15px 10px 80px 10px;
  background: #F2F2F3; }
  @media screen and (min-width: 768px) {
    .food {
      padding: 15px 64px 80px 64px; } }
  @media screen and (min-width: 1024px) {
    .food {
      padding: 25px 32px 100px 32px; } }
  .food__container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .food__container {
        flex-direction: row;
        gap: 30px; } }
  .food__container-burger {
    margin-top: 30px; }
    @media screen and (min-width: 1024px) {
      .food__container-burger {
        margin-top: 0; } }
  .food__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__title {
        font-size: 40px; } }
  .food__burger-list {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .food__burger-list {
        gap: 20px; } }
    @media screen and (min-width: 1024px) {
      .food__burger-list {
        margin-top: 24px;
        gap: 30px; } }
  .food__burger-item {
    padding: 4px;
    border-radius: 12px;
    background-color: #FFFFFF; }
    @media screen and (min-width: 1024px) {
      .food__burger-item {
        padding: 12px;
        border-radius: 18px; } }
  .food__burger-item:nth-child(n+5) {
    display: none; }
    @media screen and (min-width: 768px) {
      .food__burger-item:nth-child(n+5) {
        display: inline; } }
  .food__burger-img {
    border-radius: 8px; }
    @media screen and (min-width: 1024px) {
      .food__burger-img {
        border-radius: 12px;
        width: 276px;
        height: 220px; } }
  .food__burger-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__burger-price {
        margin-top: 16px;
        font-size: 24px; } }
  .food__burger-name {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__burger-name {
        margin-top: 8px;
        font-size: 16px; } }
  .food__burger-weight {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .food__burger-weight {
        margin-top: 29px;
        font-size: 16px; } }
  .food__burger-addbtn {
    cursor: pointer;
    padding: 11px;
    margin-top: 7px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #F2F2F3;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
    transition: all 250ms ease-in-out; }
    @media screen and (min-width: 1024px) {
      .food__burger-addbtn {
        margin-top: 8px;
        font-size: 16px;
        border-radius: 12px; } }
  .food__burger-addbtn:hover {
    color: #FFFFFF;
    background-color: #FF7020;
    transition: all 250ms ease-in-out; }
  .food__container-snacks {
    margin-top: 30px; }
    @media screen and (min-width: 1024px) {
      .food__container-snacks {
        margin-top: 0; } }
  .food__snacks-list {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .food__snacks-list {
        gap: 20px; } }
    @media screen and (min-width: 1024px) {
      .food__snacks-list {
        margin-top: 24px;
        gap: 30px; } }
  .food__snacks-item {
    padding: 4px;
    border-radius: 12px;
    background-color: #FFFFFF; }
    @media screen and (min-width: 1024px) {
      .food__snacks-item {
        padding: 12px;
        border-radius: 18px; } }
  .food__snacks-img {
    border-radius: 8px; }
    @media screen and (min-width: 1024px) {
      .food__snacks-img {
        border-radius: 12px;
        width: 276px;
        height: 220px; } }
  .food__snacks-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__snacks-price {
        margin-top: 16px;
        font-size: 24px; } }
  .food__snacks-name {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__snacks-name {
        margin-top: 8px;
        font-size: 16px; } }
  .food__snacks-weight {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .food__snacks-weight {
        margin-top: 29px;
        font-size: 16px; } }
  .food__snacks-addbtn {
    cursor: pointer;
    padding: 11px;
    margin-top: 7px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #F2F2F3;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
    transition: all 250ms ease-in-out; }
    @media screen and (min-width: 1024px) {
      .food__snacks-addbtn {
        margin-top: 8px;
        font-size: 16px;
        border-radius: 12px; } }
  .food__snacks-addbtn:hover {
    color: #FFFFFF;
    background-color: #FF7020;
    transition: all 250ms ease-in-out; }
  .food__container-hotdog {
    margin-top: 30px; }
    @media screen and (min-width: 1024px) {
      .food__container-hotdog {
        margin-top: 0; } }
  .food__hotdog-list {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .food__hotdog-list {
        gap: 20px; } }
    @media screen and (min-width: 1024px) {
      .food__hotdog-list {
        margin-top: 24px;
        gap: 30px; } }
  .food__hotdog-item {
    padding: 4px;
    border-radius: 12px;
    background-color: #FFFFFF; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-item {
        padding: 12px;
        border-radius: 18px; } }
  .food__hotdog-img {
    border-radius: 8px; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-img {
        border-radius: 12px;
        width: 276px;
        height: 220px; } }
  .food__hotdog-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-price {
        margin-top: 16px;
        font-size: 24px; } }
  .food__hotdog-name {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #000000; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-name {
        margin-top: 8px;
        font-size: 16px; } }
  .food__hotdog-weight {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    color: #B1B1B1; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-weight {
        margin-top: 29px;
        font-size: 16px; } }
  .food__hotdog-addbtn {
    cursor: pointer;
    padding: 11px;
    margin-top: 7px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #F2F2F3;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
    transition: all 250ms ease-in-out; }
    @media screen and (min-width: 1024px) {
      .food__hotdog-addbtn {
        margin-top: 8px;
        font-size: 16px;
        border-radius: 12px; } }
  .food__hotdog-addbtn:hover {
    color: #FFFFFF;
    background-color: #FF7020;
    transition: all 250ms ease-in-out; }

.food__burger-modal-wrapper {
  position: fixed;
  /* Используем fixed вместо absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  /* Центрирование по горизонтали */
  align-items: center;
  /* Центрирование по вертикали */
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out; }

.food__burger-modal {
  position: relative;
  /* Убираем absolute */
  width: 320px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  /* Тень для модального окна */ }
  @media screen and (min-width: 768px) {
    .food__burger-modal {
      width: 524px;
      border-radius: 24px; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal {
      width: 684px; } }

.food__burger-modal-container {
  padding: 32px 10px; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-container {
      padding: 16px 16px 24px 16px; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-container {
      padding: 24px 24px 36px 24px; } }

.food__burger-modal-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  color: #000000;
  margin-bottom: 12px; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-title {
      margin-bottom: 16px; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-title {
      font-size: 40px;
      margin-bottom: 24px; } }

@media screen and (min-width: 768px) {
  .food__burger-modal-card {
    display: flex;
    gap: 8px; } }
@media screen and (min-width: 1024px) {
  .food__burger-modal-card {
    gap: 16px; } }

.food__burger-modal-img {
  border-radius: 16px; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-img {
      width: 226px;
      height: 180px; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-img {
      width: 276px;
      height: 220px; } }

.food__burger-modal-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  color: #000000;
  margin-top: 16px; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-description {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-description {
      font-size: 16px; } }

.food__burger-modal-ingredients {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px; }

.food__burger-modal-ingredients-title {
  font-size: 10px;
  font-weight: 600;
  line-height: 130%;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-ingredients-title {
      font-size: 12px; } }

.food__burger-modal-ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 2px; }

.food__burger-modal-ingredients-item {
  font-size: 10px;
  font-weight: 400;
  line-height: 130%;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-ingredients-item {
      font-size: 12px; } }

.food__burger-modal-ingredients-weight {
  font-size: 10px;
  font-weight: 400;
  line-height: 130%;
  color: #B1B1B1; }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-ingredients-weight {
      font-size: 12px; } }

.food__burger-modal-footer {
  margin-top: 98px; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-footer {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-footer {
      margin-top: 40px; } }

.food__burger-modal-btns {
  display: flex;
  gap: 8px; }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-btns {
      gap: 16px; } }

.food__burger-modal-addbtn {
  cursor: pointer;
  padding: 11px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #FFAB08;
  transition: all 250ms ease-in-out; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-addbtn {
      min-width: 218px; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-addbtn {
      min-width: 276px;
      border-radius: 12px;
      font-size: 16px; } }

.food__burger-modal-addbtn:hover {
  background-color: #FF7020;
  transition: all 250ms ease-in-out; }

.food__burger-modal-price {
  margin-top: 16px;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  color: #000000; }
  @media screen and (min-width: 768px) {
    .food__burger-modal-price {
      margin-top: 0;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-price {
      font-size: 24px; } }

.food__burger-modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px; }
  @media screen and (min-width: 1024px) {
    .food__burger-modal-close-btn {
      top: 24px;
      right: 24px; } }

.food__burger-modal-close-icon {
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }

.food__burger-modal-close-icon:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #F2F2F3; }
  @media screen and (min-width: 1024px) {
    .quantity-controls {
      font-size: 16px;
      border-radius: 12px; } }

.quantity-controls__btn {
  cursor: pointer;
  padding: 7px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .quantity-controls__btn {
      font-size: 16px;
      border-radius: 12px;
      padding: 9px 12px; } }

.quantity-controls__quantity {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000; }
  @media screen and (min-width: 1024px) {
    .quantity-controls__quantity {
      font-size: 16px; } }

@media screen and (min-width: 1024px) {
  .logo-footer-name {
    width: 229px;
    height: 37px; } }

@media screen and (min-width: 1024px) {
  .logo-footer {
    width: 67px;
    height: 67px; } }

.footer__container {
  padding: 22px 0 26px 10px; }
  @media screen and (min-width: 768px) {
    .footer__container {
      padding: 38px 0 26px 64px; } }
  @media screen and (min-width: 1024px) {
    .footer__container {
      padding: 48px 32px 40px 32px; } }
@media screen and (min-width: 1024px) {
  .footer__container-box {
    display: flex;
    justify-content: space-between; } }
.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px; }
.footer__logo-icon {
  fill: #FFAB08; }
@media screen and (min-width: 768px) {
  .footer__contact-box {
    display: flex;
    gap: 177px;
    margin-top: 33px; } }
@media screen and (min-width: 1024px) {
  .footer__contact-box {
    margin-top: 0;
    gap: 50px; } }
.footer__contact {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  @media screen and (min-width: 768px) {
    .footer__contact {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .footer__contact {
      gap: 25px; } }
.footer__contact-text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%; }
  @media screen and (min-width: 1024px) {
    .footer__contact-text {
      font-size: 24px; } }
.footer__contact-call {
  display: flex;
  align-items: center;
  gap: 4px; }
@media screen and (min-width: 1024px) {
  .footer__contact-icon {
    width: 24px;
    height: 24px; } }
.footer__contact-link {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%; }
  @media screen and (min-width: 1024px) {
    .footer__contact-link {
      font-size: 16px; } }
.footer__networks {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  @media screen and (min-width: 768px) {
    .footer__networks {
      margin-top: 0; } }
  @media screen and (min-width: 1024px) {
    .footer__networks {
      gap: 22px; } }
.footer__networks-text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%; }
  @media screen and (min-width: 1024px) {
    .footer__networks-text {
      font-size: 24px; } }
.footer__networks-links-container {
  display: flex;
  align-items: center;
  gap: 16px; }
.footer__networks-icon {
  transition: all 250ms ease-in-out;
  fill: #FFAB08; }
.footer__networks-icon:hover {
  transition: all 250ms ease-in-out;
  fill: #FF7020; }
.footer__terms {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px; }
  @media screen and (min-width: 768px) {
    .footer__terms {
      margin-top: 40px; } }
  @media screen and (min-width: 1024px) {
    .footer__terms {
      margin-top: 35px; } }
.footer__terms-text {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

/*# sourceMappingURL=main.css.map */
